# --- Dependencies & Cache ---
node_modules/
.react-router/

# --- Build ---
build/

# --- IDE Settings ---
.vscode/
.idea/

# --- Miscellaneous ---
*.bak
*.swp
*.tmp
*.DS_Store
Thumbs.db

# --- Environment ---
.env

# --- Formatting Configs ---
.prettierrc
.prettierignore

# --- Version Control ---
.gitignore
.git

# --- README ---
README.md

# --- Docker ---
Dockerfile
.dockerignore